body {
    margin: auto 0;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5px;
    border: black 3px solid;
    border-radius: 15px;

}

.color-picker-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 400px;
    overflow: hidden;
}

.selected-color {
    font-weight: 900;
}

.input {
    text-align: center;
    width: 100px;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title {
    background-color: #e67e22;
    border: 1px solid #f39c12;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #d35400;
    padding: 10px;
}

.download {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-size: 17px;
    background-color: #e67e22;
    border: 1px solid #f39c12;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 6px 0px #d35400;
    transition: all;
    font-weight: 900;
}

.download:active {
    box-shadow: 0px 4px 0px #d35400;
    position: relative;
    top: 2px;
}